<div class="container px-5 mt-5">
 <center>
<div class="w-75">
    <div class="row">
        <span class="border border-dark">
            <span>ようこそ、ながのCAKEへ！<br>
            このサイトは、ケーキ販売のECサイトになります。<br>
            会員でない方も商品の閲覧はできますが、<br>
            購入には会員登録が必要になります。
            </span>
        </span>
    </div>
    
         
         
     </center>
      
      </div>
      
      </div>