
  <div class="container px-5 px-sm-0 mt-5">
    <div class="row">
        
      
        <div class="p-1 w-25 bg-light text-dark text-center mb-5"><h4>　ショッピングカート　</h4></div>
      
      </div>
      
      <div class="row justify-content-center">
        <div class="col-md-12">
<table class="table">
  <thead>
    <tr>
      <th scope="col">商品名</th>
      <th scope="col">単価(税込)</th>
      <th scope="col">数量</th>
    　<th scope="col">小計</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <% @cart_items.each do |ci| %>
      <td>
         <%= ci.name %>
      </td>
      <td>
         <%= ci.amount %>
      </td>
      <td>
         <%= ci.amount %>
      </td>
      <td>小計</td>
      <td>削除する
       <!--<*%= link_to "削除する", public_cart_item_path(@cart_items.id), class: "btn btn-danger" %>-->
      </td>
  </tr>
    <% end %>
    
  </tbody>
</table>
</div>
</div>
</div>
</div>


